<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/style.css">
		<title>Rubuxierni</title>
	
		
	</head>
	<body>
		<div style="height: 15%; border:solid 1px"><li id="Name">Rubuxierni</li></div>
		
		
		<div style="">
			<div>
				<li class="text">用户名</li>
				<input type="text" name="" value="" />

				<li class="text">密码<a href="">忘记密码</a></li>
				<input type="password" name="" value="" />

				<li class="text">验证码</li>
				<input type="password" name="" value="" />

				<a href="C:\Users\12571\Desktop\网站建立\rubuxierni\rubu\index.html"><button type="button" id="submit">登录</button></a>
			</div>
			
			<a href="" id="tourist">游客进入</a>
				
		</div>


        <h1>字数统计</h1>
        <form action="count">
            <textarea name="text" id="" cols="100" rows="30">在此输入文本</textarea>
            <br>
            <input type="submit" value="统计">
        </form>
	</body>
</html>
